<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/commfont.css"
          th:href="@{/resources/css/commfont.css}"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/common.css"
          th:href="@{/resources/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/dbdb.css" th:href="@{/resources/css/dbdb.css}"/>
    <title>夺宝记录</title>
</head>

<body>
<div class="commfont">
    <div style="margin-bottom:4px;">
        <ul class="float-ul flex-ul">
            <li>
                <div  th:class="*{type eq 0?'con':''}" >
                    <a href="#" th:href="@{getMyInvolvedRecord?type=0}">全部</a>
                </div>
            </li>
            <li>
                <div th:class="*{type eq 1?'con':''}">
                    <a href="#" th:href="@{getMyInvolvedRecord?type=1}">进行中</a>
                </div>
            </li>
            <li>
                <div th:class="*{type eq 2?'con':''}">
                    <a href="#" th:href="@{getMyInvolvedRecord?type=2}">已揭晓</a>
                </div>
            </li>
            <li>
                <div th:class="*{type eq 3?'con':''}">
                    <a href="#" th:href="@{getMyLotteryList}">中奖记录</a>
                </div>
            </li>
        </ul>
    </div>


    <div th:if="*{type eq 0}" >
        <!-- 进行中正未揭晓 -->
        <div class="all"  >
            <div class="right">
                <div class="right_in">
                    <p style="margin-bottom:4px" class="tit_rem_big">
                        <a href="#">【新品尝鲜】广西现摘百香果12-14个装只要19.9包邮</a>
                    </p>
                    <div class="left_s">
                        <div class="left_in_s">
                            <p class=" hui">参与期号：324323232</p>

                            <div class="jdtbox off" style="display:block">
                                <div style="width:50%" class="jdtbox2 on">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right_s" style="display:block">
                        <a href="#" class="zuijia">追加</a>
                    </div>
                    <div class="hui">
                        <span style="float:left">总需：328932</span><span style="float:right;">剩余&nbsp;<i
                            style=" color:#009BFF">328932</i></span>
                    </div>
                    <p style=" clear:both"></p>

                    <div>
                        <span style="float:left;margin:4px 0px">本次参与：<i style=" color:#FF7E00">100</i>人次</span><span
                            style="float:right;margin:4px 0px">
                        <a href="dbhm.html" th:href="@{getMyRaiderNumbers}" style="color:#009BFF;">查看我的号码</a>
                        </span>
                    </div>
                    <p style=" clear:both"></p>

                    <div class="zjmd" style="display:none">
                        <p>获奖者：<i style=" color:#009BFF">溜溜溜</i></p>

                        <p>本期参与：<i style=" color:#FF7E00">30</i>人次</p>

                        <p>幸运号：<i style=" color:#FF7E00">436321</i></p>

                        <p>揭晓时间：2015/12/12 13:00:00</p>
                    </div>
                </div>
            </div>

            <div class="left">
                <img src="../../resources/images/dsds.jpg" th:src="@{/resources/images/dsds.jpg}" style="width:80px"/>
            </div>
        </div>
        <!-- 进行中正在揭晓 -->
        <div class="all">
            <div class="right">
                <div class="right_in">
                    <p style="margin-bottom:4px" class="tit_rem_big">
                        <a href="#">【新品尝鲜】广西现摘百香果12-14个装只要19.9包邮</a>
                    </p>

                    <div class="left_s">
                        <div class="left_in_s">
                            <p class=" hui">参与期号：324323232</p>

                            <div class="jdtbox off" style="display:none">
                                <div style="width:50%" class="jdtbox2 on">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right_s" style="display:none">
                        <a href="#" class="zuijia">追加</a>
                    </div>
                    <div class="hui">
                        <span style="float:left">总需：328932</span><span style="float:right; display:none">剩余&nbsp;<i
                            style=" color:#009BFF">328932</i></span>
                    </div>
                    <p style=" clear:both"></p>

                    <div>
                        <span style="float:left;margin:4px 0px">本次参与：<i style=" color:#FF7E00">100</i>人次</span><span
                            style="float:right;margin:4px 0px">
                        <a href="#" style="color:#009BFF;">查看我的号码</a>
                        </span>
                    </div>
                    <p style=" clear:both"></p>
                    <div class="zjmd" style=" display:none">
                        <p>获奖者：<i style=" color:#009BFF">溜溜溜</i></p>

                        <p>本期参与：<i style=" color:#FF7E00">30</i>人次</p>

                        <p>幸运号：<i style=" color:#FF7E00">436321</i></p>

                        <p>揭晓时间：2015/12/12 13:00:00</p>
                    </div>
                    <div class="zjmd" style=" display:block">
                        <p>请稍后，正在揭晓...</p>
                    </div>
                </div>
            </div>
            <div class="left">
                <img src="../../resources/images/dsds.jpg" style="width:80px"/>
            </div>
        </div>
        <!-- 揭晓 -->
        <div class="all">
            <div class="right">
                <div class="right_in">
                    <p style="margin-bottom:4px" class="tit_rem_big">
                        <a href="#">【新品尝鲜】广西现摘百香果12-14个装只要19.9包邮</a>
                    </p>

                    <div class="left_s">
                        <div class="left_in_s">
                            <p class=" hui">参与期号：324323232</p>

                            <div class="jdtbox off" style="display:none">
                                <div style="width:50%" class="jdtbox2 on">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right_s" style="display:none">
                        <a href="#" class="zuijia">追加</a>
                    </div>
                    <div class="hui">
                        <span style="float:left">总需：328932</span><span style="float:right; display:none">剩余&nbsp;<i
                            style=" color:#009BFF">328932</i></span>
                    </div>
                    <p style=" clear:both"></p>

                    <div>
                        <span style="float:left;margin:4px 0px">本次参与：<i style=" color:#FF7E00">100</i>人次</span><span
                            style="float:right;margin:4px 0px">
                    <a href="#" style="color:#009BFF;">查看我的号码</a>
            </span>
                    </div>
                    <p style=" clear:both"></p>

                    <div class="zjmd" style=" display:block">
                        <p>获奖者：<i style=" color:#009BFF">溜溜溜</i></p>

                        <p>本期参与：<i style=" color:#FF7E00">30</i>人次</p>

                        <p>幸运号：<i style=" color:#FF7E00">436321</i></p>

                        <p>揭晓时间：2015/12/12 13:00:00</p>
                    </div>
                </div>
            </div>
            <div class="left">
                <img src="../../resources/images/dsds.jpg" style="width:80px"/>
            </div>
        </div>
        <!-- 中奖 -->
        <div class="all">
            <div class="right">
                <div class="right_in">
                    <p style="margin-bottom:4px" class="tit_rem_big">
                        <a href="#">【新品尝鲜】广西现摘百香果12-14个装只要19.9包邮</a>
                    </p>

                    <div>
                        <p>参与期号：324323232</p>

                        <p>总需：328932</p>

                        <p>本次参与：<i style=" color:#FF7E00">100</i>人次</p>

                        <p>幸运号：<i style=" color:#FF7E00">436321</i></p>

                        <p>揭晓时间：2015/12/12 13:00:00</p>

                        <p class="qrqr">
                            <a href="#" th:href="@{getOneLotteryInfo}" class="zuijia" style="display: block">完善领奖信息</a>
                            <a href="#" th:href="@{getOneLotteryInfo}" class="zuijia" style="display: block">查看派发信息</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="left">
                <img src="../../resources/images/dsds.jpg" style="width:80px"/>
            </div>
        </div>
    </div>


    <div th:if="*{type eq 1}" >
        <!-- 进行中正未揭晓 -->
        <div class="all" >
            <div class="right">
                <div class="right_in">
                    <p style="margin-bottom:4px" class="tit_rem_big">
                        <a href="#">【新品尝鲜】广西现摘百香果12-14个装只要19.9包邮</a>
                    </p>

                    <div class="left_s">
                        <div class="left_in_s">
                            <p class=" hui">参与期号：324323232</p>

                            <div class="jdtbox off" style="display:block">
                                <div style="width:50%" class="jdtbox2 on">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right_s" style="display:block">
                        <a href="#" class="zuijia">追加</a>
                    </div>
                    <div class="hui">
                        <span style="float:left">总需：328932</span><span style="float:right;">剩余&nbsp;<i
                            style=" color:#009BFF">328932</i></span>
                    </div>
                    <p style=" clear:both"></p>

                    <div>
                        <span style="float:left;margin:4px 0px">本次参与：<i style=" color:#FF7E00">100</i>人次</span><span
                            style="float:right;margin:4px 0px">
                        <a href="dbhm.html" th:href="@{getMyRaiderNumbers}" style="color:#009BFF;">查看我的号码</a>
                        </span>
                    </div>
                    <p style=" clear:both"></p>

                    <div class="zjmd" style="display:none">
                        <p>获奖者：<i style=" color:#009BFF">溜溜溜</i></p>

                        <p>本期参与：<i style=" color:#FF7E00">30</i>人次</p>

                        <p>幸运号：<i style=" color:#FF7E00">436321</i></p>

                        <p>揭晓时间：2015/12/12 13:00:00</p>
                    </div>
                </div>
            </div>
            <div class="left">
                <img src="../../resources/images/dsds.jpg" th:src="@{/resources/images/dsds.jpg}" style="width:80px"/>
            </div>
        </div>
        <!-- 进行中正在揭晓 -->
        <div class="all">
            <div class="right">
                <div class="right_in">
                    <p style="margin-bottom:4px" class="tit_rem_big">
                        <a href="#">【新品尝鲜】广西现摘百香果12-14个装只要19.9包邮</a>
                    </p>

                    <div class="left_s">
                        <div class="left_in_s">
                            <p class=" hui">参与期号：324323232</p>

                            <div class="jdtbox off" style="display:none">
                                <div style="width:50%" class="jdtbox2 on">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right_s" style="display:none">
                        <a href="#" class="zuijia">追加</a>
                    </div>
                    <div class="hui">
                        <span style="float:left">总需：328932</span><span style="float:right; display:none">剩余&nbsp;<i
                            style=" color:#009BFF">328932</i></span>
                    </div>
                    <p style=" clear:both"></p>

                    <div>
                        <span style="float:left;margin:4px 0px">本次参与：<i style=" color:#FF7E00">100</i>人次</span><span
                            style="float:right;margin:4px 0px">
                        <a href="#" style="color:#009BFF;">查看我的号码</a>
                        </span>
                    </div>
                    <p style=" clear:both"></p>
                    <div class="zjmd" style=" display:none">
                        <p>获奖者：<i style=" color:#009BFF">溜溜溜</i></p>

                        <p>本期参与：<i style=" color:#FF7E00">30</i>人次</p>

                        <p>幸运号：<i style=" color:#FF7E00">436321</i></p>

                        <p>揭晓时间：2015/12/12 13:00:00</p>
                    </div>
                    <div class="zjmd" style=" display:block">
                        <p>请稍后，正在揭晓...</p>
                    </div>
                </div>
            </div>
            <div class="left">
                <img src="../../resources/images/dsds.jpg" style="width:80px"/>
            </div>
        </div>
    </div>

    <div th:if="*{type eq 2}" >
        <!-- 揭晓 -->
        <div class="all">
            <div class="right">
                <div class="right_in">
                    <p style="margin-bottom:4px" class="tit_rem_big">
                        <a href="#">【新品尝鲜】广西现摘百香果12-14个装只要19.9包邮</a>
                    </p>

                    <div class="left_s">
                        <div class="left_in_s">
                            <p class=" hui">参与期号：324323232</p>

                            <div class="jdtbox off" style="display:none">
                                <div style="width:50%" class="jdtbox2 on">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="right_s" style="display:none">
                        <a href="#" class="zuijia">追加</a>
                    </div>
                    <div class="hui">
                        <span style="float:left">总需：328932</span><span style="float:right; display:none">剩余&nbsp;<i
                            style=" color:#009BFF">328932</i></span>
                    </div>
                    <p style=" clear:both"></p>

                    <div>
                        <span style="float:left;margin:4px 0px">本次参与：<i style=" color:#FF7E00">100</i>人次</span><span
                            style="float:right;margin:4px 0px">
                    <a href="#" style="color:#009BFF;">查看我的号码</a>
            </span>
                    </div>
                    <p style=" clear:both"></p>

                    <div class="zjmd" style=" display:block">
                        <p>获奖者：<i style=" color:#009BFF">溜溜溜</i></p>

                        <p>本期参与：<i style=" color:#FF7E00">30</i>人次</p>

                        <p>幸运号：<i style=" color:#FF7E00">436321</i></p>

                        <p>揭晓时间：2015/12/12 13:00:00</p>
                    </div>
                </div>
            </div>
            <div class="left">
                <img src="../../resources/images/dsds.jpg" style="width:80px"/>
            </div>
        </div>
    </div>

    <div th:if="*{type eq 3}" >
        <!-- 中奖 -->
        <div class="all">
            <div class="right">
                <div class="right_in">
                    <p style="margin-bottom:4px" class="tit_rem_big">
                        <a href="#">【新品尝鲜】广西现摘百香果12-14个装只要19.9包邮</a>
                    </p>

                    <div>
                        <p>参与期号：324323232</p>

                        <p>总需：328932</p>

                        <p>本次参与：<i style=" color:#FF7E00">100</i>人次</p>

                        <p>幸运号：<i style=" color:#FF7E00">436321</i></p>

                        <p>揭晓时间：2015/12/12 13:00:00</p>

                        <p class="qrqr">
                            <a href="#" th:href="@{getOneLotteryInfo}" class="zuijia" style="display: block">完善领奖信息</a>
                            <a href="#" th:href="@{getOneLotteryInfo}" class="zuijia" style="display: block">查看派发信息</a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="left">
                <img src="../../resources/images/dsds.jpg" style="width:80px"/>
            </div>
        </div>
    </div>

</div>
</body>
</html>
