<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/commfont.css"
          th:href="@{/resources/css/commfont.css}"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/common.css"
          th:href="@{/resources/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/dbdb.css" th:href="@{/resources/css/dbdb.css}"/>
    <script type="text/javascript" th:src="@{/resources/js/noShare.js}"></script>

    <title>中奖记录 无</title>
    <style>

    </style>
</head>

<body style="background-color:#f5f5f5;">

<div class="commfont" style="background-color:#f5f5f5;">
    <p class="juoo"><img src="../../resources/images/db001.png" style="width:200px;"/></p>

    <p class="ju tit_rem_big_s">您还没有中奖纪录</p>

    <p class="assa">
        <a href="#" class=" tit_rem_big_s">
            立即夺宝
        </a>
    </p>
</div>


</body>
</html>
