<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/commfont.css"
          th:href="@{/resources/css/commfont.css}"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/common.css"
          th:href="@{/resources/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/dbdb.css" th:href="@{/resources/css/dbdb.css}"/>
    <title>中奖确认</title>
</head>

<body style="background-color:#f1f1f1" >
<div class="commfont" th:object="${deliveryModel}">
    <div style="display:block" >
        <P class="tit_rem_big" style="padding:10px ; border-bottom:1px solid #eee; background-color:#fff">奖品状态</P>

        <div class="zjjl-all tit_rem_big baibg" >
            <div class="zjjl-right">
                <div class="zjjl-right_in zjjp">
                    <p class="clear moren">
                        <span class="fl">获得奖品</span>
                        <span class="fr"
                              th:text="*{#dates.format(awardingDate,'yyyy/MM/dd HH:mm')}">2016/10/10 13:00</span>
                    </p>
                    <p class="clear" th:class="*{deliveryStatus == 0 ?'clear red':'clear moren'} ">
                        <span class="fl clear">选择奖品规格</span>
                        <span class="fr" style="display:" th:if="*{deliveryStatus >= 0 }">
                            <a href="View.html" th:href="@{selGoodsSpec(issueId=*{issueId},customerId=${customerId})}" class="zuijia">选择</a>
                        </span>
                    </p>

                    <p class="clear " th:class="*{deliveryStatus == 1 ?'clear red':'clear moren'} ">
                        <span class="fl clear">确认收货地址</span><span class="fr">
                        <a href="receiptAddress.html"  th:if="*{deliveryStatus == 1}" th:href="@{toRecpeiptAddress(issueId=*{issueId},customerId=${customerId},deliveryId=*{pid})}"
                           class="zuijia">新增地址</a></span>
                        <span class="fr" th:if="*{deliveryStatus >= 2}"
                              th:text="*{confirmAddressTime eq null ?'':#dates.format(confirmAddressTime,'yyyy/MM/dd HH:mm')}">2016/10/10 13:00</span>
                    </p>
                    <p class="clear"  th:class="*{deliveryStatus == 3 ? 'clear red' : 'clear moren'}">
                        <span class="fl clear">奖品派发</span>
                        <span th:if="*{deliveryStatus >= 3}" class="fr">
                            <a href="#" class="zuijia" th:href="@{confirmReceipt(issueId=*{issueId},customerId=${customerId},deliveryId=*{pid})}" >查看</a>
                        </span>
                    </p>
                </div>
            </div>

            <div class="zjjl-left" style="overflow: hidden;height: 170px;">
                <div class="yuanyuan moren"></div>
                <div th:class="*{deliveryStatus == 0 ?'yuanyuan red':'yuanyuan moren'}" class="yuanyuan "></div>
                <div th:class="*{deliveryStatus == 1 ?'yuanyuan red':'yuanyuan moren'} " class="yuanyuan "></div>
                <div th:class="*{deliveryStatus == 3 ?'yuanyuan red':'yuanyuan moren'} " class="yuanyuan "></div>
            </div>
            <p class="clear"></p>
        </div>
    </div>

    <!-- 进度 -->
    <div style="display:block" th:if="*{deliveryStatus > 1}">
        <p class="h10"></p>
        <P class="tit_rem_big zjjdizhi">地址信息</P>
        <div class="baibg" style="padding:10px">
            <p style="padding:10px 0px"><span class="fl" th:text="*{'收货人：'+receiver}">收货人：西欧奥</span>
                <span class="fr" th:text="*{'联系电话：'+mobile}">15588372615</span>
            </p>
            <p class="fl tit_rem hui clear" style="padding:10px 0px;" th:text="*{details}">浙江省杭州市滨江区歌瑞尔刚刚和</p>
            <p class="clear"></p>
        </div>
    </div>

    <!-- 地址 -->

    <div style="display:block">
        <p class="h10"></p>
        <P class="tit_rem_big" style="padding:10px ; border-bottom:1px solid #eee; background-color:#fff">奖品信息</P>
        <div class="baibg" style="padding:6px;">
            <div class="zjj_all">
                <div class="zjj_all_right">
                    <div class="zjj_all_right_in">
                        <p style="margin-bottom:4px" class="tit_rem_big">
                            <a href="#" th:href="@{/goods/detailByIssueId(issueId=*{issueId},customerId=${customerId})}" th:text="*{title}">【新品尝鲜】广西现摘百香果12-14个装只要19.9包邮</a>
                        </p>
                        <div class="zjj_all_left_s">
                            <div class="zjj_all_left_in_s">
                                <p class=" hui" th:if="*{productSpec!=''}" th:text="*{'规格：'+productSpec}">规格：M,红色</p>
                                <p class=" hui" th:text="*{'参与期号：'+issueId}">参与期号：324323232</p>
                            </div>
                        </div>
                        <div class="hui">
                            <span style="float:left" th:text="*{'总需：'+toAmount}">总需：328932</span>
                        </div>
                        <p class="clear"></p>

                        <p class="hui">幸运号：<i style=" color:#FF7E00" th:text="*{luckyNumber}">436321</i></p>

                        <p class="hui" th:text=" *{'揭晓时间：'+#dates.format(awardingDate,'yyyy/MM/dd HH:mm')}">
                        </p>
                        <p class="clear"></p>
                    </div>
                </div>
                <div class="zjj_all_left">
                    <img src="images/dsds.jpg" th:src="@{*{defaultPictureUrl}}" style="width:80px"/>
                </div>
                <p class="clear"></p>
            </div>
        </div>
        <p class="clear"></p>
    </div>
    <!-- 奖品 -->
    <p class="h10"></p>
</div>
</body>
</html>
