<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/commfont.css"
          th:href="@{/resources/css/commfont.css}"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/common.css"
          th:href="@{/resources/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/dbdb.css" th:href="@{/resources/css/dbdb.css}"/>
    <link rel="stylesheet" type="text/css" href="../../resources/js/jBox/Skins/Green/jbox.css" th:href="@{/resources/js/jBox/Skins/Green/jbox.css}"/>
    <script type="text/javascript" src="../../resources/js/jquery-1.7.2.min.js"
            th:src="@{/resources/js/jquery-1.7.2.min.js}"></script>
    <script type="text/javascript" src="../../resources/js/jquery.utils.js"
            th:src="@{/resources/js/jquery.utils.js}"></script>
    <link href="../../resources/js/jBox/Skins/Green/jbox.css" rel="stylesheet" type="text/css"
          th:href="@{/resources/js/jBox/Skins/Green/jbox.css}"/>
    <script type="text/javascript" src="../../resources/js/jBox/jquery.jBox-2.3.min.js"
            th:src="@{/resources/js/jBox/jquery.jBox-2.3.min.js}"></script>

    <script type="text/javascript" th:inline="javascript">
        $(function () {
            var userId = $("#userId").val();
            var issueId = $("#issueId").val();
            var customerId = $("#customerId").val();
            $('#province').change(function () {
                var parentId = $(this).val();
                $.ajax({
                    url: "ajaxFindByParentId",
                    data: {"parentId": parentId,"customerId":customerId,"issueId":issueId,"userId":userId},
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        $("#city").empty();
                        $("#county").empty();
                        var html = "<option>选择城市</option>";
                        $("#city").append(html);
                        $("#county").append(html);
                        var dataObj = eval("(" + data + ")");//转换为json对象
                        //解析数组
                        $.each(dataObj, function (i, item) {
                            html = "<option value=" + item.id + ">" + item.cityName + "</option>";
                            $("#city").append(html);
                        });
                    },
                    error: function (data) {

                    }
                });

            });
            $('#city').change(function () {
                var parentId = $(this).val();
                $.ajax({
                    url: "ajaxFindByParentId",
                    data: {"parentId": parentId,"customerId":customerId,"issueId":issueId,"userId":userId},
                    type: "post",
                    dataType: "json",
                    success: function (data) {
                        $("#county").empty();
                        var html = "<option>选择城市</option>";
                        $("#county").append(html);
                        var dataObj = eval("(" + data + ")");//转换为json对象
                        //解析数组
                        $.each(dataObj, function (i, item) {
                            html = "<option value=" + item.id + ">" + item.cityName + "</option>";
                            $("#county").append(html);
                        });
                    },
                    error: function (data) {

                    }
                });
            });

            $("#submitFrom").click(function () {
                $.jBox.tip("正在提交...", "loading");
                $("#details").val($("#province  option:selected").text()+','+$("#city  option:selected").text()+','+$("#county  option:selected").text()+','+$("#details").val());
                $("#form1").submit();
            });

        });
    </script>

    <title>填写地址</title>
</head>

<body>


<div class="commfont">

    <form id="form1" class="js-wx-fm wx-ui wx-fm" th:action="addRecpeiptAddress" th:method="get">
        <input type="hidden"  th:value="${issueId}" id="issueId" name="issueId"/>
        <input type="hidden"  th:value="${customerId}" id="customerId" name="customerId"/>
        <input type="hidden" th:value="${deliveryId}" name="deliveryId"/>
        <h4 class="wx-fm-title">收货地址</h4>

        <div class="js-wx-cancel publish-cancel">
            <a href="javascript:history.go(-1);" style="display:block">
                <div class="cancel-img"></div>
            </a>
        </div>
        <div class="block" style="margin:0;">
            <div class="block-item">
                <label class="form-row form-text-row">
                    <em class="form-text-label">收货人</em>
                    <span class="input-wrapper"><input type="text" id="receiver" name="receiver" class="form-text-input" value=""
                                                       placeholder="名字"/></span>
                </label>
            </div>
            <div class="block-item">
                <label class="form-row form-text-row">
                    <em class="form-text-label">联系电话</em>
                    <span class="input-wrapper"><input type="tel" id="mobile" name="mobile" class="form-text-input" value=""
                                                       placeholder="手机或固话"/></span>
                </label>
            </div>
            <div class="block-item">
                <div class="form-row form-text-row">
                    <em class="form-text-label">选择地区</em>

                    <div class="input-wrapper input-region js-area-select">

                        <span>
                        <select id="province" name="province" class="wx-province" data-next-type="城市" data-next="city">
                            <option data-code="" value="省份">选择省份</option>
                            <option th:each="ct:${citys}" th:text="${ct.cityName}" th:value="${ct.id}">
                                北京市
                            </option>
                        </select>
                    </span>
                    <span>
                        <select id="city" name="city" class="wx-city" data-next-type="区县" data-next="county">
                            <option>选择城市</option>
                        </select>
                    </span>
                    <span>
                        <select id="county" name="county" class="wx-county">
                            <option>选择区县</option>
                        </select>
                    </span></div>
                </div>
            </div>
            <div class="block-item">
                <label class="form-row form-text-row">
                    <em class="form-text-label">详细地址</em>
                    <span class="input-wrapper">
                        <input type="text" id="details" name="details" class="form-text-input"
                                                       value=""
                                                       placeholder="街道门牌信息"/></span>
                </label>
            </div>
            <div class="block-item">
                <label class="form-row form-text-row">
                    <em class="form-text-label">备注</em>
                    <span class="input-wrapper">
                        <input type="text" id="remark" name="remark" class="form-text-input"
                               value=""
                               placeholder="留言"/></span>
                </label>
            </div>

        </div>

        <div>
            <div class="action-container tit_rem_big">
                <a class="js-wx-save btn btn-block btn-green" id="submitFrom">提交</a>
            </div>
        </div>
    </form>
    <p class="tit_rem" style="padding:0px 10px 10px 10px; color:#999">提示：请确保收货地址正确无误，如有问题请通过公众号联系客户。</p>
</div>


</body>
</html>
