<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="" />
<meta charset="utf-8" />
<link rel="stylesheet" type="text/css" href="css/commfont.css" th:href="@{/resources/css/commfont.css}"/>
<link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{/resources/css/common.css}"/>
<link rel="stylesheet" type="text/css" href="css/dbdb.css" th:href="@{/resources/css/dbdb.css}"/>
<script type="text/javascript" src="js/TouchSlide.1.1.js" th:href="@{/resources/js/TouchSlide.1.1.js}"></script>
<title>图文详情</title>
</head>
<body>
  <div class="commfont">
  <div class="tuxq">
 <a href=""> <img src="images/dsds.jpg" th:src="@{/resources/images/dsds.jpg}"/></a>
   <a href=""> <img src="images/dsds.jpg" th:src="@{/resources/images/dsds.jpg}"/></a>
    <a href="">  <img src="images/dsds.jpg" th:src="@{/resources/images/dsds.jpg}"/></a>
  </div>
  </div>
</body>
</html>
