<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="css/commfont.css" th:href="@{/resources/css/commfont.css}"/>
    <link rel="stylesheet" type="text/css" href="css/common.css" th:href="@{/resources/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="css/dbdb.css" th:href="@{/resources/css/dbdb.css}"/>
    <script type="text/javascript" src="js/TouchSlide.1.1.js" th:src="@{/resources/js/TouchSlide.1.1.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/noShare.js}"></script>
    <title>图文详情</title>
</head>
<body>
<div class="commfont">
    <div class="tuxq" th:utext="${introduce}">
    </div>
</div>
</body>
</html>
