<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport"
          content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
    <meta name="format-detection" content="telephone=no"/>
    <meta name="description" content=""/>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/commfont.css" th:href="@{/resources/css/commfont.css}"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/common.css"  th:href="@{/resources/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/dbdb.css"  th:href="@{/resources/css/dbdb.css}"/>
    <title>用1元买iphone 6S</title>
</head>

<body>

<div class="commfont">
    <div style="position:relative;">
        <img src="/resources/images/dsds.jpg" th:src="@{/resources/images/dsds.jpg}" style="width:100%"/>
        <div class="meitou">
            <div class="endtime">
                <p class=" tit_rem_big">
                    剩余&nbsp;<i>1&nbsp;</i>&nbsp;天&nbsp;<i>10</i>&nbsp;时&nbsp;<i>45</i>&nbsp;分&nbsp;<i>07</i>&nbsp;秒&nbsp;结束
                </p>
            </div>
        </div>
    </div>

    <p class="syjg"><span>原价：</span><span class="red huadiao">￥<b>332.00</b></span>/￥1.00<a href="#"><span
            class="fr bai">商品详情&nbsp;»</span></a></p>


    <P class="h10"></P>

    <p class="sycy">已有<span class="red tit_rem_big_big">32839</span>人正在参与</p>

    <div class="syabk" style="display:block">
        <button class="buttonan tit_rem_big_s" type="button">
            继续购买
        </button>
    </div>
    <div class="syabk" style="display:block">
        <button class="buttonan tit_rem_big_s" type="button">
            参与1元夺宝
        </button>
    </div>

    <div class="syabk" style="display:block">
        <div id="mcover" onclick="document.getElementById('mcover').style.display='';" style="display: none;">
            <img src="/resources/images/mengbanzi.png" th:src="@{/resources/images/mengbanzi.png}"/>
        </div>
        <button class="buttonan lv tit_rem_big_s" type="button"
                onclick="document.getElementById('mcover').style.display='block';">
            分享<span>&nbsp;/&nbsp;</span>收藏活动
        </button>
    </div>
    <div class="syabk" style="display:block">
        <button class="buttonan huang tit_rem_big_s" type="button" onclick="">
            <a href="personal/list.html" th:href="@{/web/getMyInvolvedRecord}">查看我的参与</a>
        </button>
    </div>

    <div class="xq">
        <div class="mid tit_rem_big ">
            <span>活动提示</span>
        </div>
        <p style="line-height:20px; padding:10px 20px; color:#777" class="tit_rem">
            ⑴.确保你能查看中奖信息，请务必<span style=" text-decoration: underline; color:#FF1E22">收藏</span>本活动页面以及关注公众号。<br/>
            ⑵.夺宝所有商品均从正规渠道采购，100%正品，可享受厂家提供的全国联保服务。<br/>
            ⑶.遇到售后问题可通过公众号联系客户。<br/>
            ⑷.商家保留法律范围内允许的对活动的解释权。
        </p>
    </div>
 
    <P class="h10"></P>


</div>
</body>
</html>
