<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta name="viewport" content="width=device-width,minimum-scale=1,user-scalable=no,maximum-scale=1,initial-scale=1" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="format-detection" content="telephone=no" />
<meta name="description" content="" />
<meta charset="utf-8" />

    <link rel="stylesheet" type="text/css" href="../../resources/css/commfont.css" th:href="@{/resources/css/commfont.css}"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/common.css" th:href="@{/resources/css/common.css}"/>
    <link rel="stylesheet" type="text/css" href="../../resources/css/dbdb.css" th:href="@{/resources/css/dbdb.css}"/>
    <script type="text/javascript" src="../../resources/js/shopping.js"
            th:src="@{/resources/js/shopping.js}"></script>
    <script type="text/javascript" src="../../resources/js/user.js"
            th:src="@{/resources/js/user.js}"></script>


    <title>支付结果</title>
    <script type="text/javascript" th:inline="javascript">

        var initShow=function() {
            var upCookie = /*[[${upCookie}]]*/'';
            var userId = /*[[${userId}]]*/'';
            var issueId = /*[[${issueId}]]*/'';
            var customerId = /*[[${customerId}]]*/'';
            var openidUrl = /*[[${openidUrl}]]*/'';
            var openId = /*[[${openId}]]*/'';
            var sign = /*[[${sign}]]*/'';
            //用户初始化
            //userInit(upCookie, userId, issueId, customerId, openidUrl, openId, sign);
        }
            var pay=function(){
            var userId = /*[[${userId}]]*/'';
            var issueId = /*[[${issueId}]]*/'';
            var customerId = /*[[${customerId}]]*/'';
            var payMoney=/*[[${payModel.payMoney}]]*/'';
            var detail=/*[[${payModel.detail}]]*/'';
            var cartsId=/*[[${payModel.cartsId}]]*/'';
            var payType=$('#payType').val();
            var type=/*[[${payModel.type}]]*/'';
            payToService(payMoney,detail,cartsId,payType,type,userId,issueId,customerId);
        }
    </script>
</head>

<body style="background-color:#f5f5f5;" onload="initShow()" >
<div class="commfont" th:object="${payModel}">
    <input type="hidden" id="userId" name="userId" th:value="${userId}"/>
    <input type="hidden" id="issueId" name="issueId" th:value="${issueId}"/>
    <input type="hidden" id="customerId" name="customerId" th:value="${customerId}"/>
    <input type="hidden" name="cartsId" th:value="*{cartsId}"/>
    <input type="hidden" name="type" th:value="*{type}"/>

<div class="zfdd">
<span style="float:left">结算合计</span>
 
<span style="float:right;" class="ddd_red"><B th:text="*{payMoney}">10</B>元</span>

</div>
<div style=" padding:10px 10px; background-color:#fff; clear:both">
 
<p style="padding:4px 0px; color:#999"><span th:text="*{detail}">【新品尝鲜】广西现摘百香果12-14个装只要19.9包邮</span><span>颜色随机</span></p>
</div> 
<p class="zfdd_h"></p>
 
 
<div class="zfdd">
<span style="float:left">支付方式</span>
 
<span style="float:right;" class="ddd_red"><B th:text="*{payMoney}">10</B>元</span>
</div>

<div class="weui_cells weui_cells_checkbox" style="background-color:#FFFFFF;">
     
        <label class="weui_cell weui_check_label kl">
 <div class="weui_cell_hd"><input type="radio" name="payType" value="1" checked="true" class="weui_check"/>
          <i class="weui_icon_checked"></i>
        </div>
        <div class="weui_cell_bd weui_cell_primary ">
          <div style="float:left;" >
      微信支付
          </div>   
        </div>
        </label>
      </div>
    
    
    
    
    
      <!--<div class="weui_cells weui_cells_checkbox">-->
     <!-- -->
        <!--<label class="weui_cell weui_check_label">-->
  <!--<div class="weui_cell_hd">-->
          <!--<input type="radio" name="payType"  class="weui_check"  value="2" />-->
          <!--<i class="weui_icon_checked"></i>-->
        <!--</div>-->
        <!--<div class="weui_cell_bd weui_cell_primary ">-->
          <!--<div style="float:left;" >-->
   <!--支付宝-->
          <!--</div>   -->
        <!--</div>-->
        <!--</label>-->
      <!--</div>-->
      <div class="weui_cells weui_cells_checkbox">

        
      </div>


<!--按钮-->   
<div class="dddds" >
<p style="margin:0px 10px;">
<a   class="ljcy tit_rem_big" onclick="pay()">立即参与</a></p>
<p></p>
 </div> 
 <!--按钮end--> 
</div>
</body>
</html>
